*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(255, 255, 255);

}
header{
    background: linear-gradient( 135deg, #667eea 0%,#764ba2 100%);
    color: white;
    padding: 2 rem 0%;
    box-shadow: 0 2px 4px rgba(0,0,0,0,.1);
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
}
 nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
 }
nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform:opacity 0.3s ;
}
nav a:hover{
    opacity: 0.7;
}
.hero{
    background: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1592656094267-764a45160876?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center;
    height:  500px;
    display:flex ;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}